@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  * {
    margin: 0px;
    padding: 0px;
  }

  html {
    background-color: #FFF;
    font-size: 18px;
    max-width: 1440px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 95px;
  }

  .navbar .navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .navbar .navigation .box {
    width: auto;
    height: 20px;
    font-family: Raleway;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #515151;
    margin: 48px 22px 27px 22px;  
  }

  .navbar .navigation .box.d {
    margin-right: 49px; 
  }

  .navbar .logo {
    display: flex;
    flex-direction: row;
    margin: 48px auto auto 98px;
    width: 172px;
    height: 35.95px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
    color: #515151;
  }

  .navbar .logo .dev {
    margin-left: 13px;
    width: 122.78px;
    height: 27.65px;
  }

  .header {
    position: relative;
    height: 585px;
    width: 100%;
    background-image: url("headera.png");
    background-size: cover;
  }

  .header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .b {
    opacity: 0.3;
  }

  .header .filter {
    top: 0;
    left: 0;
    width: 100%;
    height: 585px;
    background-color: #fff;
    position: absolute;
    opacity: 0.1;
  }

  .header .title {
    position: absolute;
    top: 172px;
    text-align: center;
    z-index: 1;
  }

  .header .title h1 {
    width: 507px;
    height: 118px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 117px;
    letter-spacing: 0.02em;
    color: #FFC53D;
  }

  h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.02em;
  }

  .header .title h2 {
    font-weight: bold;
    color: #fff;
  }

  .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .social .circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-top: 28px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
  }

  .social .git {
    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-top: 28px;
  }

  .contact-me {
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-me h2 {
    margin-top: 39px;
    color: #222;
  }

  .contact-me .buttons-contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .contact-me .buttons-contact .button {
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 50px;
    margin: 36px 40px 52px 40px;
  }

  .contact-me .buttons-contact .button.a {
    border: 1px solid #FFC53D;
    box-sizing: border-box;
    border-radius: 15px;
    color: #FFC53D;
  }

  .contact-me .buttons-contact .button.b {
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    border-radius: 15px;
    color: #fff;
  }

  .contact-me .buttons-contact .button span {
    font-weight: bold;
    font-size: 18px;
    font-style: Raleway;
    line-height: 21px;
    margin: auto auto;
    justify-content: center;
    align-content: center;
  }

  .about-me {
    position: relative;
    width: 1341px;
    height: 430px;
  }

  .about-me .color-box {
    position: absolute;
    width: 980px;
    height: 430px;
    background-color: #FAFAFF;
  }

  .about-me .color-box h3 {
    margin-top: 18px;
    margin-left: 152px;
  }

  h3 {
    font-family: Ubuntu;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.02em;
    color: #222222;
  }

  .about-me .white-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 74px;
    left: 100px;
    width: 1241px;
    height: 280px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  }

  .about-me .white-box .informations {
    width: 40%;
    box-sizing: border-box;
    padding: 45px 25px 45px 45px;
    display: flex;
    flex-direction: row;
  }

  .about-me .white-box .motivations {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    box-sizing: border-box;
    border-left: 4px solid #FFC53D;
    border-style: none none none dotted;
    padding: 0px 45px 0px 25px;
    margin-top: 45px;
    margin-bottom: 45px;

    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 172.35%;
    letter-spacing: 0.04em;
    color: #222222;
    text-align: justify;
  }

  .about-me .white-box .informations .foto {
    height: 100%;
    width: 100px;
  }

  .about-me .white-box .informations .name {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 10%;
    width: calc(100% - 100px);
    height: 100%;
  }

  .about-me .white-box .informations p{
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 160.86%;
    letter-spacing: 0.02em;
    color: #222222;
  }

  .orangish {
    color:#FFC53D;
  }

  .skills {
    position: relative;
    width: 1341px;
    height: 430px;
    margin-top: 57px;
    margin-bottom: 43px;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-content: flex-end;
  }

  .skills .color-box {
    position: relative;
    width: 980px;
    height: 430px;
    background-color: #FAFAFF;
  }

  .skills .color-box h3 {
    position: absolute;
    top: 18px;
    left: 60px;
  }

  .skills .white-box {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 74px;
    left: 0px;
    width: 1239px;
    height: 280px;
    background-color: #fff;
    z-index: 1;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
  }

  .skills .white-box .skill {
    width: 33.333333%;
    height: 80%;
    box-sizing: border-box;
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .skills .white-box .skill.b {
    border: 4px solid #FFC53D;
    border-style: none dotted none dotted;
  }

  .skills .white-box .skill.b .icon-file-code {
    font-size: 83px;
    color:#8d8d8d;
    margin: 0px 0px;    
  }

  .skills .white-box .skill .img {
    margin-bottom: 46px;
  }

  h4 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000;
  }

  h4.orangish {
    font-weight: bold;
    margin-bottom: 14px;
  }

.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1440px;
  height: 752px;
  margin-bottom: 72px;
}

.portfolio h3 {
  width: 100%;
  height: 32px;
  margin-bottom: 22px;
  text-align: center;
}

.portfolio .one {
  width: 530px;
  height: 346px;
  background-image: url("one.png");
  background-size: cover;
}

.portfolio .two {
  width: 392px;
  height: 346px;
  background-image: url("two.png");
  background-size: cover;
}

.portfolio .three {
  width: 518px;
  height: 346px;
  background-image: url("three.png");
  background-size: cover;
}

.portfolio .four {
  width: 392px;
  height: 352px;
  background-image: url("four.png");
  background-size: cover;
}

.portfolio .five {
  width: 1048px;
  height: 352px;
  background-image: url("five.png");
  background-size: cover;
}

.portfolio .gradient {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(34, 34, 34, 0.5) 0%, rgba(255, 154, 61, 0.5) 100%);
}

h5 {
  width: calc(100% - 36px);
  margin: 25px 0 4px 36px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.portfolio p {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin-left: 36px;
  margin-bottom: 36px;
  color: #FFFFFF;
}

.portfolio .box {
  display: flex;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.portfolio .box .view {
  border-radius: 15px;
  background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
  box-sizing: border-box;
  padding: 14px 28px;
}

.contact-us {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1440px;
  height: 785px;
  background: #FAFAFF;
}

.contact-us .main {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 1241px;
  height: 621px;
  left: 100px;
  top: 74px;
  background: #FFFFFF;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.contact-us h3 {
  align-self: flex-start;
  position: absolute;
  font-family: Ubuntu;
  left: 152px;
  top: 18px;
}

.contact-us .main .orange {
  width: 509px;
  height: 100%;
  background: #FF9A3D;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
}

.contact-us .main .orange .first {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.contact-us .main .orange .mail {
  margin: 40px 0 40px 52px;
}

.contact-us .main .orange .first p {
  margin-left: 52px;
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 172.35%;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.contact-us .main .orange .second {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.contact-us .main .orange .social {
  height: auto;
  margin-left: 52px;
  justify-content: flex-start;
  justify-self: flex-end;
}

.contact-us .main .orange .social .circle.a {
  margin-left: 0;
}

.contact-us .main .orange .social .circle {
  margin-top: 0;
}

.contact-us .main .orange .social .git {
  margin-top: 0;
}

.contact-us .main .orange .second p {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 35px;
  margin-left: 52px;
  margin-top: 9px;
}

.contact-us .main .white {
  display: flex;
  flex-direction: column;
  width: 732px;
  height: 100%;
}

.contact-us .main .white .first {
  position: relative;
  width: 732px;
  height: 100px;
}

.contact-us .main .white .first .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;   
    border-left: 18px solid #FF9A3D;
    margin-top: 33px;
}

.contact-us .main .white h2 {
  position: absolute; 
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 172.35%;
  letter-spacing: 0.04em;
  color: #222222;
  left: 48px;
  top: 20px;
}

.contact-us .main .white .second {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 732px;
  height: calc(100% - 100px);
}

.contact-us .main .white .second input[type=text],
.contact-us .main .white .second textarea{
  box-sizing: border-box;
  width: 639px;
  height: 56px;
  background: #FAFAFF;
  border-radius: 15px;
  padding: 0px 24px;
  margin-bottom: 17px;
  box-shadow: 3px 3px 10px -3px rgba(200,200,200,1);
  border: none;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  color: #A0A0A0;
}

.contact-us .main .white .second textarea {
  flex-direction: column;
  height: 180px;
  line-height: 180px;
  resize: none;
}

.contact-us .main .white .second textarea:focus{
  line-height: 25px;
}

.contact-us .main .white .second input[type=submit] {
  position: absolute;
  right: 45px;
  bottom: 36px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFC53D;

  border: 1px solid #FFC53D;
  box-sizing: border-box;
  border-radius: 15px;
  background: #fff;
  width: 100px;
  height: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 83px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #A0A0A0;
}