@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptrg8zYS_SKggPNwJYtWqZPAA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v14/4iCv6KVjbNBYlgoCxCvjsGyN.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  * {
    margin: 0px;
    padding: 0px;
  }

  html {
    background-color: #FFF;
    font-size: 18px;
    max-width: 1440px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
  }

  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 95px;
  }

  .navbar .navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
  }

  .navbar .navigation .box {
    width: auto;
    height: 20px;
    font-family: Raleway;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0.02em;
    color: #515151;
    margin: 48px 22px 27px 22px;  
  }

  .navbar .navigation .box.d {
    margin-right: 49px; 
  }

  .navbar .logo {
    display: flex;
    flex-direction: row;
    margin: 48px auto auto 98px;
    width: 172px;
    height: 35.95px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.15em;
    color: #515151;
  }

  .navbar .logo .dev {
    margin-left: 13px;
    width: 122.78px;
    height: 27.65px;
  }

  .header {
    position: relative;
    height: 585px;
    width: 100%;
    background-image: url("headera.png");
    background-size: cover;
  }

  .header .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header .b {
    opacity: 0.3;
  }

  .header .filter {
    top: 0;
    left: 0;
    width: 100%;
    height: 585px;
    background-color: #fff;
    position: absolute;
    opacity: 0.1;
  }

  .header .title {
    position: absolute;
    top: 172px;
    text-align: center;
    z-index: 1;
  }

  .header .title h1 {
    width: 507px;
    height: 118px;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 100px;
    line-height: 117px;
    letter-spacing: 0.02em;
    color: #FFC53D;
  }

  h2 {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.02em;
  }

  .header .title h2 {
    font-weight: bold;
    color: #fff;
  }

  .header .social {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .header .social .circle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-top: 28px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
  }

  .header .social .git {
    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-top: 28px;
  }